[submodule "submodules/homebrew-rxiv-maker"]
	path = submodules/homebrew-rxiv-maker
	url = https://github.com/henriqueslab/homebrew-rxiv-maker.git
[submodule "submodules/scoop-rxiv-maker"]
	path = submodules/scoop-rxiv-maker
	url = https://github.com/henriqueslab/scoop-rxiv-maker.git
[submodule "submodules/vscode-rxiv-maker"]
	path = submodules/vscode-rxiv-maker
	url = https://github.com/HenriquesLab/vscode-rxiv-maker
[submodule "submodules/docker-rxiv-maker"]
	path = submodules/docker-rxiv-maker
	url = https://github.com/HenriquesLab/docker-rxiv-maker.git
